doctrine:
  dbal:
    url: '%env(resolve:DATABASE_URL)%'
    server_version: '16'
    charset: utf8
  orm:
    auto_generate_proxy_classes: true
    naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
    enable_lazy_ghost_objects: true
    auto_mapping: true
    identity_generation_preferences:
      Doctrine\DBAL\Platforms\PostgreSQLPlatform: sequence
    mappings:
      App:
        type: attribute
        is_bundle: false
        dir: '%kernel.project_dir%/src/Entity'
        prefix: 'App\Entity'
        alias: App
    controller_resolver:
      auto_mapping: false

when@dev:
  doctrine:
    dbal:
      profiling_collect_backtrace: '%kernel.debug%'
