framework:
  secret: '%env(APP_SECRET)%'
  http_method_override: false
  handle_all_throwables: true
  session:
    handler_id: null
    cookie_secure: auto
  php_errors:
    log: true
  messenger:
    transports:
      async: '%env(MESSENGER_TRANSPORT_DSN)%'
    routing:
      'App\Message\MigrateSessionsMessage': async
